<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for(:title) || "Home - Flow Arena" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Flow Arena">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-purple-100 w-full min-h-screen flex flex-col">
    <%# Renderizado condicional del Header %>
    <% unless ["registrations", "sessions"].include?(controller_name) || action_name == "miPerfil" %>
        <%= render "layouts/header" %>
    <% end %>
    <main class="flex-grow flex flex-col">
        <%= yield %>
    </main>

    <%# Pie de página %>
    <footer class="py-6 text-center text-gray-500 text-xs">
      &copy; <%= Time.current.year %> Flow Arena.
    </footer>
    <%# Mensajes de error %>
    <%= render "/devise/shared/flash" %>
  </body>
</html>
